evolution-v2/auto_responder_workflow.json
{
  "name": "Evolution API Auto-Responder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "evolution-webhook-1"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.data.key.fromMe }}",
              "value2": false
            }
          ],
          "string": [
            {
              "value1": "={{ $json.body.data.key.remoteJid }}",
              "operation": "endsWith",
              "value2": "@s.whatsapp.net"
            }
          ]
        }
      },
      "id": "2",
      "name": "Check if not from me",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution_api:8080/message/sendText/{{ $json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.body.data.key.remoteJid }}\",\n  \"text\": \"¡Hola {{ $json.body.data.pushName }}! He recibido tu mensaje. Esta es una respuesta automática configurada desde n8n.\"\n}",
        "options": {}
      },
      "id": "3",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 280]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Check if not from me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if not from me": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
